<link rel="stylesheet" href="/css/header.css">
<script src="/js/header.js" defer></script>
<header class="">
    <img id="mainLogo" src="/images/hardwarLogo.png" alt="">
    <section style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <div id="links">
            <a href="/home" class="homeNavLink">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact Us</a>
            <a href="/gallery">Gallery</a>
            <a href="/topics" id="topicLink">Topics</a>
            <a href="/topics" id="topicLink2" class="allHidden">Topics</a>
            <a href="/register" id="registerLink2"  class="allHidden">Register</a>
        </div>
        <a href="/register" class="bnt-style-1" id="registerLinkBnt">
            Register
            <img src="/images/arrow.svg" alt="">
        </a>
    </section>
    <svg width="800px" height="800px" id="menuBarBnt" onclick="menuBarFunc()" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Menu / Menu_Alt_02">
            <path id="Vector" d="M11 17H19M5 12H19M11 7H19" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
        </g>
    </svg>
</header>
<div id="navBarBackLight" class="allHidden"></div>