// $Main-bgColor-Primary:#FED601;
$Main-bgColor-Primary:#F9EBFF;
$Main-textColor-Primary:#ffffff;
$Main-textColor-Secondary:#eee;
$Main-bgColor-Secondary:#1E1E1E;
// $Main-bgColor-Black: #010001;
$Main-bgColor-Black: #7CB4C4;



