@import "./colors";

$min-height: calc(100% - 5rem);
$min-border-radius: 5px;

#mainBody {
  margin-top: 5rem;
  min-height: $min-height;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.homeNavLink{
  display: none !important;
}
#section1 {
  min-height: $min-height;
  display: flex;
  flex: 1;
  #section1__left {
    background-color: $Main-bgColor-Black;
    flex: 1 1 50%;
    min-height: 100%;
    margin: 0.1rem 0;
    position: relative;
    padding-left: 1rem;
    box-sizing: border-box;
    color: $Main-textColor-Primary;
    border-radius: 0 $min-border-radius $min-border-radius 0;
    #imageWapper {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      // z-index: 200;
      img {
        position: absolute;
        // top: -1.7rem;
        top: 0;
        right: 0;
        height: 350px;
        width: auto;
        animation: moveRightToLeftWithOpacity 1500ms ease-out forwards;
      }
    }
    h1 {
      font-family: "Pirata One";
      font-style: normal;
      font-weight: 400;
      font-size: 6rem;
      line-height: 122px;
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 1.1rem;
      // line-height: 42px;
    }
    #section1__left__buttongroup {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      transform: translateX(-20%);
    }
  }

  #section1__right {
    min-height: 100%;
    flex: 1 1 50%;
    padding: 2rem 0 0 2rem;
    #cardWapper {
      position: relative;
      width: fit-content;
      transform: translateX(5%);
      #cardWapper__img {
        z-index: -100;
      }
      .wapper__section1Card {
        position: absolute;
        // display: flex;
        &:nth-of-type(1) {
          top: 0;
          left: 0;
          transform: translate(-20%, 30%);
        }
        &:nth-of-type(2) {
          top: 50%;
          right: 0;
          transform: translateY(-100%);
        }
        &:nth-of-type(3) {
          bottom: 0;
          left: 0;
          transform: translate(10%, -30%);
        }
        .cardBorder {
          position: absolute;
          left: 7px;
          bottom: -8px;
          background-color: $Main-bgColor-Primary;
          // background-color: aqua;
          border: 1px solid $Main-bgColor-Black;
          height: 100%;
          width: 100%;
          border-radius: $min-border-radius;
        }
        .section1Card {
          // display: none !important;
          // position: absolute;
          // opacity: 0.5;
          display: inline-flex;
          justify-self: center;
          align-items: center;
          background-color: $Main-bgColor-Secondary;
          color: $Main-textColor-Primary;
          padding: 0.3rem 0.7rem;
          gap: 0.7rem;
          border-radius: $min-border-radius;
          transform: translateZ(1px);
          img {
            height: 2rem;
            width: auto;
          }
          p {
            font-family: "Quicksand";
            font-style: normal;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 35px;
          }
        }
      }
    }
    #raspSvg {
      path {
        stroke: black;
        stroke-width: 1px;
        fill: transparent;
      }
      &.startAnim {
        path {
          animation: svgAnimPath 6000ms 1000ms ease-in-out forwards;
        }
      }
    }
  }
}

#section2 {
  min-height: $min-height;
  flex: 1;
  .transitionDIV {
    position: relative;
    display: flex;
    z-index: 10;
    .backImg {
      z-index: -1;
      flex: 1 1 40%;
    }
    .backdrop {
      z-index: 1;
    }
    #section2__body {
      z-index: 5;
      flex: 1 1 50%;
      background-color: white;
      margin: 2rem;
      padding: 0.5rem 1rem;
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 1rem;
      border-radius: $min-border-radius;
      h1 {
        font-family: "Pirata One";
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 77px;
        margin: 0;
        text-align: center;
        padding: 0 1rem;
        width: fit-content;
        position: relative;
        // &::after {
        //   content: "";
        //   position: absolute;
        //   height: 3px;
        //   width: 100%;
        //   background-color: $Main-bgColor-Black;
        //   border-radius: 1rem;
        //   left: 0;
        //   bottom: 5px;
        // }
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

#section3 {
  min-height: $min-height;
  flex: 1;
  .transitionDIV {
    position: relative;
    display: flex;
    z-index: 10;
    .backImg {
      z-index: -1;
      height: 100%;
      width: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .backdrop {
      z-index: 1;
    }
    #section3__body {
      z-index: 5;
      flex: 1 1 50%;
      // background-color: white;
      margin: 2rem;
      padding: 0.5rem 1rem;
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 1rem;
      border-radius: $min-border-radius;
      h1 {
        font-family: "Pirata One";
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 77px;
        margin: 0;
        text-align: center;
        padding: 0 1rem;
        width: fit-content;
        position: relative;
        color: $Main-textColor-Primary;
      }
      #section3__cards {
        position: relative;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem 2rem;
        .section3__card {
          max-width: 400px;
          // background-color: rgba(
          //     $color: $Main-textColor-Primary,
          //     $alpha: 0.4
          // );
          border-radius: $min-border-radius;
          color: $Main-textColor-Primary;
          padding: 0.5rem;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          line-height: 30px;
          display: flex;
          flex-direction: column;
          gap: 0.7rem;
          // backdrop-filter: blur(10px);
          .cardDate {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.2em; /* Increase the font size to make it larger */
            font-weight: bold; /* Set the font weight to bold */
            /* color: $Main-bgColor-Secondary; */
          }
        }
      }
    }
  }
}

#section4 {
  min-height: $min-height;
  flex: 1;
  .transitionDIV {
    position: relative;
    display: flex;
    z-index: 10;
    .backImg {
      z-index: -1;
      flex: 1 1 40%;
    }
    .backdrop {
      z-index: 1;
    }
    #section4__body {
      z-index: 5;
      flex: 1 1 50%;
      // background-color: white;
      margin: 2rem;
      padding: 0.5rem 1rem;
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 1rem;
      border-radius: $min-border-radius;
      h1 {
        font-family: "Pirata One";
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 77px;
        margin: 0;
        text-align: center;
        padding: 0 1rem;
        width: fit-content;
        position: relative;
        color: $Main-textColor-Primary;
      }
      #section4__cards {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 2rem;
        .section__card {
          background-color: $Main-textColor-Primary;
          border-radius: 0 $min-border-radius 0 $min-border-radius;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1rem;
          gap: 1rem;
          min-width: 300px;
          &::after {
            content: "";
            position: absolute;
            top: 10px;
            left: 0.3rem;
            height: 60%;
            width: 6px;
            border-radius: 1rem;
            background-color: black;
          }
          &:nth-of-type(1) {
            &::after {
              background-color: #feaf00;
            }
          }
          &:nth-of-type(2) {
            &::after {
              background-color: #c4caf3;
            }
          }
          &:nth-of-type(3) {
            &::after {
              background-color: #e4624c;
            }
          }
          img {
            height: 4.5rem;
            width: auto;
          }
          p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 30px;
            flex: 1;
            padding-left: 1rem;
          }
        }
      }
    }
  }
}

.bnt-style-2 {
  $trasitions: all 200ms;
  background-color: $Main-bgColor-Black;
  color: $Main-textColor-Primary;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: $trasitions;
  display: inline-block;
  opacity: 0.8;
  // border-radius: 5px;
  img {
    height: 0.8rem;
    width: auto;
    transform: rotate(45deg);
    transition: $trasitions;
  }
  &:hover {
    opacity: 1;
    img {
      transform: rotate(0deg);
    }
    &::after {
      color: $Main-textColor-Primary;
      width: 100%;
    }
  }
  &::after {
    content: "";
    position: absolute;
    background-color: $Main-bgColor-Primary;
    width: 0%;
    height: 2px;
    border-radius: 1rem;
    left: 0;
    bottom: 2px;
    transition: $trasitions;
  }
}
.transitionDIV {
  transition: opacity 400ms;
}
.backdrop {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: #232222;
  opacity: 0.2;
  backdrop-filter: blur(2px);
}
.backImg {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

// stepper
.stepper-container {
  width: 100%;
}

.step {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: cream;
}

.v-stepper {
  position: relative;
}

/* regular step */
.step {

  &:hover {
    .circle {
      background-color: #7cb4c4;
    }

    .circle::after {
      content: attr(data-number);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 28px;
      font-weight: bold;
    }
  }

  .circle {
    background-color: white;
    // border: 3px solid gray;
    border-radius: 100%;
    width: 42px; /* +6 for border */
    height: 42px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s;
  }

  .line {
    top: 40px;
    left: 19px;
    height: 100%;
    position: absolute;
    border-left: 6px solid white;
  }
}

.step.completed {
  .circle {
    visibility: visible;
    background-color: rgb(6, 150, 215);
    border-color: rgb(6, 150, 215);
  }

  .line {
    border-left: 10px solid rgb(6, 150, 215);
  }
}

.step.active {
  .circle {
    visibility: visible;
    border-color: rgb(6, 150, 215);
  }
}

.step.empty {
  .circle {
    visibility: hidden;
  }

  .line {
    top: 0;
    height: 150%;
  }
}

// .step:last-child {
//   .line {
//     border-left: 3px solid white;
//     z-index: -1; /* behind the circle to completely hide */
//   }
// }

.content {
  margin-left: 20px;
  display: inline-block;
}



// animations
@keyframes moveRightToLeftWithOpacity {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes moveTopToBottomWithOpacity {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes svgAnimPath {
  80% {
    fill: black;
    stroke-dashoffset: 0px;
  }
  100% {
    fill: black;
    stroke-dashoffset: 0px;
    stroke-width: 0px;
  }
}


// media query
@media only screen and (width <= 992px) {
  #section1__right{
    display: none;
  }
  #section1__left__buttongroup{
    transform: translateX(-10%) !important;
    margin-bottom: 1rem !important;
  }
}

@media only screen and (width <= 600px) {
  #section1__left{
    h1{
      font-size: 5rem !important;
      line-height: normal !important;
    }
  }
  .backImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }


}

