@import "./colors";



$min-height: calc(100% - 5rem);
$min-border-radius: 5px;

#mainBody {
  margin-top: 5rem;
  max-height: $min-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 5rem);
  position:relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: $Main-bgColor-Primary;
  color: $Main-textColor-Primary;
}



html,body{
  overflow:hidden;
}


#form-box-wapper{
  height: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-left: none;
  overflow: hidden;
  border-radius: 5px;
  margin: 1rem 0;
  color: black;
  box-shadow: 0 0 10px 0px slategray;
  // align-items: center;
  // background-color: $Main-bgColor-Black;
}
.bnt-style-1,.homeNavLink{
  display: none !important;
}
#imgWapper{
  position: relative;
  .form-box-img{
    width: 22vw;
    object-fit: cover;
    height: 100%;
    // background-color: #424040;
  }
  .form-box-backBnt{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 1rem;left: 1.3rem;
    height: 1rem;
    width: auto;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 300ms;
    &:hover{
      opacity: 1;
    }
    a{
      font-family: 'Poppins';
      font-size: 1.1rem;
    }
    img{
      height: 1.1rem;
      width: auto;
    }
  }
}


.form-box{
  z-index: 100;
  font-family: Quicksand;
  overflow: scroll;
  width: 100%;
  label,input{
    font-size: 1rem;
    display: table-cell;
  }
  label{
    font-weight: 500;
    font-size: 1.1rem;
    vertical-align: middle;
  }
  h1{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .nice-select{
    background-color: rgba($color: #D9D9D9, $alpha: 0.3);
    color: $Main-textColor-Primary;
    border: none;
    border-radius: 3px;
    span{
      color: #010001;
    }
    li,span{
      font-size: 1.1rem;
      font-weight: 400;
    }
    ul,li{
      background-color: #424040 !important;
    }
    li{
      &:hover{
        background-color: darken($color: #424040, $amount: 10) !important;
      }
      &.selected{
        background-color: darken($color: #424040, $amount: 10) !important;
      }
    }
  }

  input{
    border: none;
    // border-radius: 2px 2px 0 0;
    border-radius: 5px;
    border: 1px solid #B5BEC4;
    padding: 0.5rem 0.3rem;
    // background-color: rgba($color: #D9D9D9, $alpha: 0.3);
    background-color: #e7e6e9;
    // color: $Main-textColor-Primary;
    color: #010001;
    font-family: inherit;
    font-weight: 500;
    &:focus{
      outline: none;
    }
  }

  h2{
    font-size: 1.7rem;
    position: relative;
    width: fit-content;
    font-weight: 600;
    &:after{
      content: '';
      position: absolute;
      height: 2px;
      width: 30%;
      bottom: 0px;left: 0px;
      border-radius: 1rem;
      background-color: #eee;
    }
  }
  #regForm{
    width: fit-content;
    // background-color:rgba($color: $Main-bgColor-Black, $alpha: 1);
    background-color: $Main-bgColor-Primary;
    backdrop-filter: blur(3px);
    padding: 1rem 2rem;
    .inputBox{
      display: table-row;
      // background-color: cornflowerblue;
    }
    .box{
      display: table;
      border-collapse: separate;

      border-spacing: 0.5rem 0.5rem;
    }
    .teamBox{
      border-spacing: 1rem 0.5rem;
    }
    #members{
      .box{
        margin-top: 1rem;
      } 
    }
  }
}

hr{
  border: none;
  margin: 1rem  0 0.5rem 0;
  border-top: 4px dashed #010001;
}

button{
  // border: none;
  border-radius: 5px;
  border: 2px solid #eee;
  background-color: #010001;
  padding: 0.3rem 1rem;
  color: #eee;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 200ms;
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  svg{
    height: 2.3rem;
    width: auto;
  }
  &:hover{
    background-color: transparent;
    color: #010001;
    border: 1px solid black;
    svg{
      path{
        fill: black
      }
    }
  }
}


/* Hide scrollbar for IE, Edge and Firefox */
.removeScrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}



