@import "./colors";
@import "./font";


$min-height: calc(100% - 5rem);
$min-border-radius: 5px;

.container {
    min-height: $min-height;
    padding-top: 5rem;
    overflow: auto;
    font-family: 'Poppins';
    .section{
        padding: 0.5rem 1rem;
        h2{
            font-size: 3rem;
            font-family: 'Pirata One';
        }
        .boxes{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
            .box{
                position: relative;
                .box-title{
                    color: $Main-textColor-Primary;
                    background-color: $Main-bgColor-Secondary;
                    position: absolute;
                    top: -1rem;left: -0.5rem;
                    padding: 0.2rem 0.5rem;
                    border-radius: 2px;
                }
                width: 300px;
                cursor: pointer;
                background-color: #E6E7E9;
                padding: 1rem;
                border-radius: $min-border-radius;
                transition: transform 300ms;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
}


