#mainBody {
  margin-top: 5rem;
  min-height: calc(100% - 5rem);
  display: flex;
  flex-direction: column;
}

#section1 {
  min-height: calc(100% - 5rem);
  display: flex;
  flex: 1;
}
#section1 #section1__left {
  background-color: #7CB4C4;
  flex: 1 1 50%;
  min-height: 100%;
  margin: 0.1rem 0;
  position: relative;
  padding-left: 1rem;
  box-sizing: border-box;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
}
#section1 #section1__left #imageWapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
#section1 #section1__left #imageWapper img {
  position: absolute;
  top: 0;
  right: 0;
  height: 350px;
  width: auto;
  animation: moveRightToLeftWithOpacity 1500ms ease-out forwards;
}
#section1 #section1__left h1 {
  font-family: "Pirata One";
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  line-height: 122px;
}
#section1 #section1__left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
}
#section1 #section1__left #section1__left__buttongroup {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transform: translateX(-20%);
}
#section1 #section1__right {
  min-height: 100%;
  flex: 1 1 50%;
  padding: 2rem 0 0 2rem;
}
#section1 #section1__right #cardWapper {
  position: relative;
  width: fit-content;
  transform: translateX(5%);
}
#section1 #section1__right #cardWapper #cardWapper__img {
  z-index: -100;
}
#section1 #section1__right #cardWapper .wapper__section1Card {
  position: absolute;
}
#section1 #section1__right #cardWapper .wapper__section1Card:nth-of-type(1) {
  top: 0;
  left: 0;
  transform: translate(-20%, 30%);
}
#section1 #section1__right #cardWapper .wapper__section1Card:nth-of-type(2) {
  top: 50%;
  right: 0;
  transform: translateY(-100%);
}
#section1 #section1__right #cardWapper .wapper__section1Card:nth-of-type(3) {
  bottom: 0;
  left: 0;
  transform: translate(10%, -30%);
}
#section1 #section1__right #cardWapper .wapper__section1Card .cardBorder {
  position: absolute;
  left: 7px;
  bottom: -8px;
  background-color: #F9EBFF;
  border: 1px solid #7CB4C4;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
#section1 #section1__right #cardWapper .wapper__section1Card .section1Card {
  display: inline-flex;
  justify-self: center;
  align-items: center;
  background-color: #1E1E1E;
  color: #ffffff;
  padding: 0.3rem 0.7rem;
  gap: 0.7rem;
  border-radius: 5px;
  transform: translateZ(1px);
}
#section1 #section1__right #cardWapper .wapper__section1Card .section1Card img {
  height: 2rem;
  width: auto;
}
#section1 #section1__right #cardWapper .wapper__section1Card .section1Card p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 35px;
}
#section1 #section1__right #raspSvg path {
  stroke: black;
  stroke-width: 1px;
  fill: transparent;
}
#section1 #section1__right #raspSvg.startAnim path {
  animation: svgAnimPath 6000ms 1000ms ease-in-out forwards;
}

#section2 {
  min-height: calc(100% - 5rem);
  flex: 1;
}
#section2 .transitionDIV {
  position: relative;
  display: flex;
  z-index: 10;
}
#section2 .transitionDIV .backImg {
  z-index: -1;
  flex: 1 1 40%;
}
#section2 .transitionDIV .backdrop {
  z-index: 1;
}
#section2 .transitionDIV #section2__body {
  z-index: 5;
  flex: 1 1 50%;
  background-color: white;
  margin: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 5px;
}
#section2 .transitionDIV #section2__body h1 {
  font-family: "Pirata One";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 77px;
  margin: 0;
  text-align: center;
  padding: 0 1rem;
  width: fit-content;
  position: relative;
}
#section2 .transitionDIV #section2__body p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

#section3 {
  min-height: calc(100% - 5rem);
  flex: 1;
}
#section3 .transitionDIV {
  position: relative;
  display: flex;
  z-index: 10;
}
#section3 .transitionDIV .backImg {
  z-index: -1;
  height: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#section3 .transitionDIV .backdrop {
  z-index: 1;
}
#section3 .transitionDIV #section3__body {
  z-index: 5;
  flex: 1 1 50%;
  margin: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 5px;
}
#section3 .transitionDIV #section3__body h1 {
  font-family: "Pirata One";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 77px;
  margin: 0;
  text-align: center;
  padding: 0 1rem;
  width: fit-content;
  position: relative;
  color: #ffffff;
}
#section3 .transitionDIV #section3__body #section3__cards {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}
#section3 .transitionDIV #section3__body #section3__cards .section3__card {
  max-width: 400px;
  border-radius: 5px;
  color: #ffffff;
  padding: 0.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
#section3 .transitionDIV #section3__body #section3__cards .section3__card .cardDate {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2em; /* Increase the font size to make it larger */
  font-weight: bold; /* Set the font weight to bold */
  /* color: $Main-bgColor-Secondary; */
}

#section4 {
  min-height: calc(100% - 5rem);
  flex: 1;
}
#section4 .transitionDIV {
  position: relative;
  display: flex;
  z-index: 10;
}
#section4 .transitionDIV .backImg {
  z-index: -1;
  flex: 1 1 40%;
}
#section4 .transitionDIV .backdrop {
  z-index: 1;
}
#section4 .transitionDIV #section4__body {
  z-index: 5;
  flex: 1 1 50%;
  margin: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 5px;
}
#section4 .transitionDIV #section4__body h1 {
  font-family: "Pirata One";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 77px;
  margin: 0;
  text-align: center;
  padding: 0 1rem;
  width: fit-content;
  position: relative;
  color: #ffffff;
}
#section4 .transitionDIV #section4__body #section4__cards {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}
#section4 .transitionDIV #section4__body #section4__cards .section__card {
  background-color: #ffffff;
  border-radius: 0 5px 0 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  min-width: 300px;
}
#section4 .transitionDIV #section4__body #section4__cards .section__card::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0.3rem;
  height: 60%;
  width: 6px;
  border-radius: 1rem;
  background-color: black;
}
#section4 .transitionDIV #section4__body #section4__cards .section__card:nth-of-type(1)::after {
  background-color: #feaf00;
}
#section4 .transitionDIV #section4__body #section4__cards .section__card:nth-of-type(2)::after {
  background-color: #c4caf3;
}
#section4 .transitionDIV #section4__body #section4__cards .section__card:nth-of-type(3)::after {
  background-color: #e4624c;
}
#section4 .transitionDIV #section4__body #section4__cards .section__card img {
  height: 4.5rem;
  width: auto;
}
#section4 .transitionDIV #section4__body #section4__cards .section__card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 30px;
  flex: 1;
  padding-left: 1rem;
}

.bnt-style-2 {
  background-color: #7CB4C4;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: all 200ms;
  display: inline-block;
  opacity: 0.8;
}
.bnt-style-2 img {
  height: 0.8rem;
  width: auto;
  transform: rotate(45deg);
  transition: all 200ms;
}
.bnt-style-2:hover {
  opacity: 1;
}
.bnt-style-2:hover img {
  transform: rotate(0deg);
}
.bnt-style-2:hover::after {
  color: #ffffff;
  width: 100%;
}
.bnt-style-2::after {
  content: "";
  position: absolute;
  background-color: #F9EBFF;
  width: 0%;
  height: 2px;
  border-radius: 1rem;
  left: 0;
  bottom: 2px;
  transition: all 200ms;
}

.transitionDIV {
  transition: opacity 400ms;
}

.backdrop {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: #232222;
  opacity: 0.2;
  backdrop-filter: blur(2px);
}

.backImg {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.stepper-container {
  width: 100%;
}

.step {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: cream;
}

.v-stepper {
  position: relative;
}

/* regular step */
.step:hover .circle {
  background-color: #7cb4c4;
}
.step:hover .circle::after {
  content: attr(data-number);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px;
  font-weight: bold;
}
.step .circle {
  background-color: white;
  border-radius: 100%;
  width: 42px; /* +6 for border */
  height: 42px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s;
}
.step .line {
  top: 40px;
  left: 19px;
  height: 100%;
  position: absolute;
  border-left: 6px solid white;
}

.step.completed .circle {
  visibility: visible;
  background-color: rgb(6, 150, 215);
  border-color: rgb(6, 150, 215);
}
.step.completed .line {
  border-left: 10px solid rgb(6, 150, 215);
}

.step.active .circle {
  visibility: visible;
  border-color: rgb(6, 150, 215);
}

.step.empty .circle {
  visibility: hidden;
}
.step.empty .line {
  top: 0;
  height: 150%;
}

.content {
  margin-left: 20px;
  display: inline-block;
}

@keyframes moveRightToLeftWithOpacity {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes moveTopToBottomWithOpacity {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes svgAnimPath {
  80% {
    fill: black;
    stroke-dashoffset: 0px;
  }
  100% {
    fill: black;
    stroke-dashoffset: 0px;
    stroke-width: 0px;
  }
}

/*# sourceMappingURL=home.css.map */
