<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hardwars 2023</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/gallery.css">
    <!-- JS -->
    <script src="/js/gallery.js" defer></script>
</head>

<body>
    <%- include('../partials/header.ejs')%>
        <section id="mainBody">
            Gallery
        </section>

</body>

</html>