<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hardwars 2023</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/topics.css">
     <!-- JS -->
     <script src="/js/topics.js" defer></script>
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <div class="container">
        <div class="section1">
            <h2>Pirate One</h2>
            <div class="boxes">
                <div class="box">
                    <div class="box-title">ID: #121</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
                <div class="box">
                    <div class="box-title">ID: #122</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
                <div class="box">
                    <div class="box-title">ID: #123</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
                <div class="box">
                    <div class="box-title">ID: #124</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
                <div class="box">
                    <div class="box-title">ID: #125</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
                <div class="box">
                    <div class="box-title">ID: #126</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
                <div class="box">
                    <div class="box-title">ID: #127</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
                <div class="box">
                    <div class="box-title">ID: #128</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
            </div>
        </div>
        <div class="section2">
            <h2>Pirate Two</h2>
            <div class="boxes">
                <div class="box">
                    <div class="box-title">ID: #129</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
                <div class="box">
                    <div class="box-title">ID: #130</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
                <div class="box">
                    <div class="box-title">ID: #131</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
                <div class="box">
                    <div class="box-title">ID: #132</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
                <div class="box">
                    <div class="box-title">ID: #133</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
                <div class="box">
                    <div class="box-title">ID: #134</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
                <div class="box">
                    <div class="box-title">ID: #135</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
                <div class="box">
                    <div class="box-title">ID: #136</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lorem ac gravida lacinia. Phasellus ac diam eget elit varius eleifend vel at lacus.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
